:root {
  --orange: #c43500;
  --green: #007b00;
  --offwhite: rgb(252, 233, 210);
  --pink: rgb(255, 0, 98);
  --darkblue: rgb(0, 0, 164);
  --red: red;
}

body {
  max-width: 700px;
  padding: 1em 1.5em;
  margin: 0 auto;
  background-color: var(--offwhite);
}

/* Two colours for the header */
h1 {
  font-family: "Nunito", sans-serif;
  color: var(--orange);
  font-size: 3.5em;
}

.green {
  /* Include inside the h1 (in a span)*/
  color: var(--green);
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

/* Styling for buttons */

button {
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 16px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

.submit {
  background-color: var(--pink);
}

.delete {
  background-color: var(--red);
  align-self: flex-end;
}

/* Containers for the blog posts */

.blog-post {
  /* Put blog text and button inside a div with this class */
  border: 2.5px solid var(--darkblue);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}
