body {
  max-width: 700px;
  padding: 1em 1.5em;
  margin: 0 auto;
  background-color: rgb(252, 233, 210);
}

h1 {
  font-family: "Nunito", sans-serif;
  color: orangered;
  font-size: 3.5em;
}

.green {
  color: green;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 16px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

.submit {
  background-color: rgb(255, 0, 98);
}

.delete {
  background-color: red;
}

.blog-post {
  border: 2.5px solid rgb(0, 0, 164);
  border-radius: 20px;
  padding: 10px;
}
